[Unit]
Description=Renen Backup Sentinel
After=network.target

[Service]
ExecStart=/usr/bin/rensen
Restart=always
User=root
RestartSec=60

[Install]
WantedBy=default.target
