[Unit]
Description=Senren Backup Service
After=network.target

[Service]
ExecStart=/usr/local/bin/senren
Restart=always
User=root
RestartSec=60

[Install]
WantedBy=default.target
