[package]
name = "daemon"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rensen-lib = { path = "../lib" }
chrono = "0.4"
cron = "0.11"
tokio = { version = "1", features = ["full"] }
